# .NET
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.vspscc
*.vssscc
*.sln.docstates
.vs/
appsettings.Development.json
users.db
users.db-journal

# Node & AngularJS
node_modules/
dist/
.angular/
.vscode/
.DS_Store

#Dockerfile
.dockerignore